#this file contains the various libraries required to run the program
# THIS PROGRAM WAS DEVELPED IN PYTHON 3.12.0 , PLS USE THIS VERSION OR HIGHER TO AVOID ANY COMPATIBILITY ISSUES
#Run 'pip install -r requirements.txt' in terminal to install all the libraries

customtkinter
click
numpy<2
torch==2.2.1
spacy==3.7.4
spacy-transformers>=1.3,<2.0
pymupdf
